<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Courses</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Name - </th>
				<th>Description - </th>
				<th>Benji Price - </th>
				<th>Hours - </th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="coursemodel : ${courses}">
				<th><span th:text="${coursemodel.name}"></span></th>
				<th><span th:text="${coursemodel.description}"></span></th>
				<th><span th:text="${coursemodel.price}"></span></th>
				<th><span th:text="${coursemodel.hours}"></span></th>
			</tr>
		</tbody>
	</table>
	
	<form action="#" th:action="@{/courses/addcourse}" th:object="${coursemodel}" method="post">
		<p>Name: <input type="text" th:field="*{name}"/></p>
		<p>Description: <input type="text" th:field="*{description}"/></p>
		<p>Price: <input type="number" th:field="*{price}"/></p>
		<p>Hours: <input type="number" th:field="*{hours}"/></p>
		<p><input type="submit" value="Submit"/></p>
	</form>
	
</body>
</html>